.page-header
  .pull-right
    = link_to new_client_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      Nouveau client
  %h1 Gestion des clients

%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th= t('fullname', scope: 'simple_form.labels.client')
      %th= t('address', scope: 'simple_form.labels.client')
      %th
        // actions
  %tbody
    = render @clients
