/* Yeti
 * Bootswatch
 *= require_self
 *= require yeti/loader
 *= require yeti/bootswatch
 *= require fontawesome
 *= require utils
*/

h1{
  &.logo{
    background: #EB540A !important;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 50px;
    display: table;
    &.center{
      margin-right: auto;
      margin-left: auto;
    }
    i{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

header{
  .navbar-nav{
    margin-top: 10px;
  }
}

.square{
  span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
  }
}

.class-a{
  background-color: #28622F;
}
.class-b{
  background-color: #478A3D;
}
.class-c{
  background-color: #829C45;
}
.class-d{
  background-color: #DFCE58;
}
.class-e{
  background-color: #FFE361;
}
.class-f{
  background-color: #F7A156;
}
.class-g{
  background-color: #FE5F38;
}
.class-h{
  background-color: #EA3230;
}
.class-i{
  background-color: #B41C29;
}
